<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <title>Material Kit 3 by Creative Tim</title>
    <!-- Fonts and icons -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900"
    />
    <!-- Nucleo Icons -->
    <link href="/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script
      src="https://kit.fontawesome.com/42d5adcbca.js"
      crossorigin="anonymous"
    ></script>
    <!-- Material Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <!-- CSS Files -->
    <link
      id="pagestyle"
      href="/css/material-kit.css?v=3.1.0"
      rel="stylesheet"
    />
  </head>

  <body class="contact-us">
    <!-- -------- START HEADER 8 w/ card over right bg image ------- -->
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div
              class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column"
            >
              <div
                class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center"
                style="
                  background-image: url('img/img3.jpeg');
                  background-size: cover;
                "
                loading="lazy"
              ></div>
            </div>
            <div
              class="col-xl-5 col-lg-6 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5"
            >
              <div
                class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5"
              >
                <div
                  class="card-header p-0 position-relative mt-2 mx-2 z-index-2 bg-transparent"
                >
                  <div class="bg-dark shadow-dark border-radius-md p-3">
                    <h5 class="text-white text-primary mb-0">Donasi Kami</h5>
                    <p class="text-white text-sm mb-0">
                      Mari berbagi untuk kebaikan.
                    </p>
                  </div>
                </div>
                <div class="card-body">
                  <!-- Bagian Informasi Donasi -->
                  <h6>
                    Nama Donasi: <strong>Donasi Pendidikan Anak Yatim</strong>
                  </h6>
                  <p>
                    Deskripsi Donasi:
                    <span
                      >Program untuk membantu pendidikan anak yatim di daerah
                      terpencil. Setiap kontribusi akan mendukung biaya sekolah
                      dan kebutuhan lainnya.</span
                    >
                  </p>
                  <div class="badge bg-success text-white">DIBUKA</div>

                  <!-- Progress Bar -->
                  <div class="mt-3">
                    <label for="progress">Dana Terkumpul:</label>
                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 70%"
                        aria-valuenow="70"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        70%
                      </div>
                    </div>
                  </div>

                  <!-- Buttons -->
                  <div class="mt-4 text-center">
                    <button class="btn bg-gradient-dark mt-3 mb-0">
                      DONASI
                    </button>
                    <button class="btn bg-gradient-light mt-3 mb-0 ms-3">
                      KEMBALI
                    </button>
                    <button class="btn bg-gradient-warning mt-3 mb-0 ms-3">
                      TAMBAHKAN KE FAVORIT
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- -------- END HEADER 8 w/ card over right bg image ------- -->
    <footer class="footer pt-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 mb-4 ms-auto">
            <div>
              <a href="https://www.creative-tim.com/product/material-kit">
                <img
                  src="../assets/img/logo-ct-dark.png"
                  class="mb-3 footer-logo"
                  alt="main_logo"
                />
              </a>
              <h6 class="font-weight-bolder mb-4">Material Kit 3</h6>
            </div>
            <div>
              <ul class="d-flex flex-row ms-n3 nav">
                <li class="nav-item">
                  <a
                    class="nav-link pe-1"
                    href="https://www.facebook.com/CreativeTim"
                    target="_blank"
                  >
                    <i class="fab fa-facebook text-lg opacity-8"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link pe-1"
                    href="https://twitter.com/creativetim"
                    target="_blank"
                  >
                    <i class="fab fa-twitter text-lg opacity-8"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link pe-1"
                    href="https://dribbble.com/creativetim"
                    target="_blank"
                  >
                    <i class="fab fa-dribbble text-lg opacity-8"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link pe-1"
                    href="https://github.com/creativetimofficial"
                    target="_blank"
                  >
                    <i class="fab fa-github text-lg opacity-8"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link pe-1"
                    href="https://www.youtube.com/channel/UCVyTG4sCw-rOvB9oHkzZD1w"
                    target="_blank"
                  >
                    <i class="fab fa-youtube text-lg opacity-8"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Footer content omitted for brevity -->
        </div>
      </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/plugins/perfect-scrollbar.min.js"></script>
    <!-- Control Center for Material UI Kit -->
    <script
      src="/js/material-kit.min.js?v=3.1.0"
      type="text/javascript"
    ></script>
  </body>
</html>
