<nav
  class="navbar navbar-main navbar-expand-lg px-0 mx-3 shadow-none border-radius-xl"
  id="navbarBlur"
  data-scroll="true"
>
  <div class="container-fluid py-1 px-3">
    <div
      class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 justify-content-end"
      id="navbar"
    >
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item d-flex align-items-center">
          <a
            href="/admin/profile"
            class="nav-link text-body font-weight-bold px-2 d-flex align-items-center"
          >
            <i class="material-symbols-rounded me-1">account_circle</i>
            <span>Admin</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
