<ul class="navbar-nav">
  <li class="nav-item">
    <a
      class="nav-link <%= activePage === 'donations' ? 'active' : '' %>"
      href="/admin/donations"
    >
      <i class="material-symbols-rounded opacity-5">dashboard</i>
      <span class="nav-link-text ms-1">Daftar Donasi</span>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link <%= activePage === 'feedback' ? 'active' : '' %>"
      href="/admin/feedback"
    >
      <i class="material-symbols-rounded opacity-5">table_view</i>
      <span class="nav-link-text ms-1">Daftar Feedback</span>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link <%= activePage === 'users' ? 'active' : '' %>"
      href="/admin/users"
    >
      <i class="material-symbols-rounded opacity-5">people</i>
      <span class="nav-link-text ms-1">Daftar User</span>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link <%= activePage === 'profile' ? 'active' : '' %>"
      href="/admin/profile"
    >
      <i class="material-symbols-rounded opacity-5">person</i>
      <span class="nav-link-text ms-1">Profil</span>
    </a>
  </li>
</ul>
