<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div
          class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3 d-flex justify-content-between align-items-center"
        >
          <h6 class="text-white text-capitalize ps-3 text-start">
            Tambah Program Donasi
          </h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <!-- Form -->
          <form action="" method="POST" enctype="multipart/form-data">
            <div class="mb-3 px-4">
              <label class="form-label">Nama Program Donasi</label>
              <input
                type="text"
                name="crowdfund_title"
                class="form-control"
                required
              />
            </div>
            <div class="mb-3 px-4">
              <label class="form-label">Deskripsi Program Donasi</label>
              <textarea
                name="crowdfund_description"
                class="form-control"
                rows="4"
              ></textarea>
            </div>
            <div class="mb-3 px-4">
              <label class="form-label">Upload Gambar Donasi</label>
              <input type="file" name="crowdfund_image" class="form-control" />
            </div>
            <div class="mb-3 px-4">
              <label class="form-label">Target Dana Donasi</label>
              <input
                type="number"
                name="target_dana"
                class="form-control"
                required
              />
            </div>
            <div class="mb-3 px-4">
              <label class="form-label">Status</label>
              <select name="status" class="form-control" required>
                <option value="DIBUKA">Di</option>
                <option value="DITUTUP">Ditutup</option>
              </select>
            </div>

            <!-- Row for buttons -->
            <div class="row px-4">
              <!-- Button Kembali (Left) -->
              <div class="col-2 d-flex justify-content-start">
                <a
                  href="/admin/crowdfunds"
                  class="btn btn-secondary btn-sm w-100"
                >
                  Kembali
                </a>
              </div>
              <!-- Button Submit (Right) -->
              <div class="col-10 d-flex justify-content-end">
                <button type="submit" class="btn btn-info btn-sm w-25">
                  <i class="fas fa-save"></i> Simpan Donasi
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
