<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div
          class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3 d-flex justify-content-between align-items-center"
        >
          <h6 class="text-white text-capitalize ps-3 text-start">Edit User</h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <!-- Form -->
          <form action="" method="POST">
            <div class="mb-3 px-4">
              <label class="form-label">Nama Lengkap</label>
              <input type="text" name="name" class="form-control" value="" required />
            </div>
            <div class="mb-3 px-4">
              <label class="form-label">Email</label>
              <input type="email" name="email" class="form-control" value="" required />
            </div>
            <div class="mb-3 px-4">
              <label class="form-label">Password (kosongkan jika tidak ingin mengganti)</label>
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Kosongkan jika tidak ingin mengganti"
              />
            </div>
            <div class="mb-3 px-4">
              <label class="form-label">Role</label>
              <select name="role" class="form-control" required>
                <option value="admin" <</option>
                <option value="user" <%= user.role === 'user' ? 'selected' : '' %>>User</option>
              </select>
            </div>

            <!-- Row for buttons -->
            <div class="row px-4">
              <!-- Button Kembali (Left) -->
              <div class="col-2 d-flex justify-content-start">
                <a href="/admin/users" class="btn btn-secondary btn-sm w-100">Kembali</a>
              </div>
              <!-- Button Submit (Right) -->
              <div class="col-10 d-flex justify-content-end">
                <button type="submit" class="btn btn-info btn-sm w-25">
                  <i class="fas fa-save"></i> Simpan Perubahan
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
