<aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-radius-lg fixed-start ms-2 bg-white my-2"
  id="sidenav-main"
>
  <div class="sidenav-header">
    <a class="navbar-brand px-4 py-3 m-0">
      <span class="ms-1 text-lg text-dark"><strong>Crowd Funding</strong></span>
    </a>
  </div>
  <hr class="horizontal dark mt-0 mb-2" />
  <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-dark" href="/admin/donations">
          <i class="material-symbols-rounded opacity-5">dashboard</i>
          <span class="nav-link-text ms-1">Daftar Donasi</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/admin/feedback">
          <i class="material-symbols-rounded opacity-5">table_view</i>
          <span class="nav-link-text ms-1">Daftar Feedback</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/admin/users">
          <i class="material-symbols-rounded opacity-5">people</i>
          <span class="nav-link-text ms-1">Daftar User</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/admin/profile">
          <i class="material-symbols-rounded opacity-5">person</i>
          <span class="nav-link-text ms-1">Profil</span>
        </a>
      </li>
    </ul>
  </div>
  <div
    class="sidenav-footer position-absolute w-100 bottom-0 d-flex justify-content-center"
  >
    <form action="/logout" method="POST">
      <button
        type="submit"
        class="btn bg-gradient-dark w-90 text-white d-flex align-items-center justify-content-center"
      >
        <i class="material-symbols-rounded opacity-5 me-2">logout</i>
        Logout
      </button>
    </form>
  </div>
</aside>
